<!DOCTYPE html>
<html>
  <head>
    <title>Doswitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <main>
      <div class="container">
        <div id="flash_messages">
          <%= render "layouts/flash_messages" %>
        </div>
          link
          <%= link_to "トップ", root_path, class: "btn btn-default" %>
          <%= link_to "アバウト", about_path, class: "btn btn-default" %>
          <%= link_to "ユーザー設定", edit_user_path(current_user), class: "btn btn-default" %>
          <%= link_to "ログアウト",destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' }, class: "btn btn-default" %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
